<h1>Add new flavor</h1>
<div>
 <label>Enter Keg Name:</label>
 <input #newName>
</div>
<div>
 <label>Enter Keg Flavor:</label>
 <input #newFlavor>
</div>
<div>
 <label>Enter Keg Brand:</label>
 <input #newBrand>
</div>
<div>
  <label>Keg Price:</label>
  <select #newPrice>
    <option [value]="1"> Low Price </option>
    <option [value]="2"> Medium Price </option>
    <option [value]="3"> High Price </option>
  </select>
<button (click)="submitForm(newName.value, newPrice.value, newFlavor.value, newBrand.value); newName.value='';">Add</button>
